/*------------------------------------------------------------------------------------------------------------------------
 @package: typocracy (site)

 @author: Bryan V
 @www: typocracy.net
 @github: typocracy

 @twitter: typocracy

 @copyright: COPYRIGHT 1-5-2015 Typocracy
 =============================================================================
 Filename: style.scss
 =============================================================================
 --------------------------------------------------------------------------------------------------------------------- */

@import 'normalize';
@import 'icomoon/icomoon';

@import 'base/vars';
@import 'base/base';
@import 'base/fonts';
@import 'base/animation';

@import 'modules/homepage';
@import 'modules/resume';
