/* =============================================================================
Resume
========================================================================== */

.resume {
  background-image: url('/img/test_bg.jpg');
  background-position: top center;
  background-repeat: repeat-x;
  background-size: 1400px;
  font-family: 'verb_regularregular';
  font-size: 100%;
  line-height: 1.35rem;
  overflow-x: hidden;

  main {
    max-width: $resume-container;
    margin: 3rem auto;
    padding: 0 5%;

    @media #{$bp-mid}{
      padding: 0 2.5%;
    }

    @media screen and (min-width: $resume-container) {
      padding: 0;
    }
  }

  header {
    border-bottom: 1px solid rgba(0,0,0,.25);
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;

    h1 {
      border: none;
      font-size: 5rem;
      line-height: 4.25rem;
      margin: 0 0 1rem 0;
      @media #{$bp-small}{
        line-height: 3rem;
      }
    }
    h2 {
      font-size: 1.25rem;
      margin: 0 0 .75rem 0;
    }
    p {
      font-weight: 100;
      margin: 0;
    }
  }

  ul { padding: 0; }
  li {
    list-style: none;
    margin-bottom: 1rem;
  }

  dd {
    margin-bottom: 1rem;
    margin-left: 0;
  }

  /* Columns, pull em up by the pseudo-bootstraps */
  .row {
    margin-left: -15px;
    margin-right: -15px;

    @media screen and (min-width: 768px){
      display: grid;
      grid-template-columns: auto 1fr 1fr;
    }
  }

  .col-md-6 {
    min-height: rem(1);
    padding-left: rem(15);
    padding-right: rem(15);
    position: relative;
  }

  a:link, a:visited {
    color: #666;
    display: inline-block;
    position: relative;
    text-decoration: none;

    &:hover {
      color: get-color(lightGrey);

      &:after {
        background: get-color(purple);
        height: 115%;
      }
    }

    &:after {
      background: lighten(get-color(purple),25%);
      bottom: -1px;
      content: '';
      height: rem(2);
      min-height: rem(2);
      left: -0.15em;
      position: absolute;
      transition: $transition-bounce;
      width: calc(100% + 0.3em);
      z-index: -1;
    }
  }

  h1, h2, h3, h4, h5 {
    font-family: $verb-black;
  }

  h1 {
    border-bottom: 1px solid get-color(black);
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .semibold {
    font-family: $verb-semibold;
    font-weight: 300;
  }

  /* Sections */
  .resume-experience {
    dt {
      font-family: $verb-black;
      font-size: 1.35rem;
    }
    dd {
      margin-left: 0;
      margin-bottom: 1.5rem;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none;
      margin-bottom: .25rem;
    }
  }

}

.resume-experience__date {
  display: inline-block;
  font-family: $verb-regular;
  font-size: .95rem;
  font-weight: 100;
  margin-left: 1rem;
}
.resume-experience__position {
  display: block;
  font-size: 1.25rem;
  line-height: 2rem;
}

.resume__education-degree {
  margin-bottom: 0;
}

.resume__education-school {
  margin-top: 0;
}

.resume-tech ul li {
  margin-bottom: .25rem;
}

.resume__footer {
  border-top: 1px solid rgba(0,0,0,.25);
  clear: both;
  font-size: .85rem;
  margin-top: 1rem;
  padding: 1rem;

  @media #{$bp-mid}{
    text-align: center;
  }
}

.resume .footer__list {
  margin: 0;
  padding: 0;

  li {
    display: block;
    list-style: none;
    padding: 0 .5rem;

    @media #{$bp-mid}{
      display: inline-block;
    }
  }
}

.resume a.footer__link {
  color: rgba(0,0,0,.25);
  text-decoration: none;
  transition: $transition;

  &:after {
    display: none;
    visibility: hidden;
  }

  &:hover {
    color: rgba(40,40,40,1);
  }
}
