/* Styles For the Special Events Twitter Feed on the homepage. Obviously last used for Krazy Fest, thanks to those semantic IDs. *Sigh */

#kfFeed {
        visibility:hidden; display:none;
	border:1px dashed #BBB;
	text-shadow:1px 1px 0 #fff;
	padding:5px 5px;
	margin:10px auto;
	clear:both;
	font-size: 1.5em;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.2, rgb(219,215,197)),
    color-stop(0.84, rgb(243,241,233))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(219,215,197) 20%,
    rgb(243,241,233) 84%

);
	
}

#kfFeed h2 {
	margin:0 0 5px 0;
	padding:0;	
}

#kfFeed ul, #kfFeed ul li {
	list-style-type: none;	
	padding:0 10px;
}